.html{
    width: 200px;
    height: 100px;
    background-color: skyblue;
}

.css{
    width: 200px;
    height: 100px;
    background-color: green;
}

.javascript{
    width: 200px;
    height: 100px;
    background-color: red;
}