<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture.spring_boot_mybatis.mapper.UserMapper">
<!--   UserMapper 에 쓴 인터페이스와 id가 같은 값으로 매핑되어야 함.-->
    <select id="retrieveAll" resultType="lecture.spring_boot_mybatis.domain.User">
<!--        도메인에 있는 User 파일을 가리킴.-->
        SELECT user.* FROM user
    </select>

<!--    <insert id="insertUser" parameterType="map">-->
<!--        INSERT INTO user(name, nickname) VALUES(#{name}, #{nickname})-->
<!--    </insert>-->

    <update id="updateUser" parameterType="map">
        UPDATE user SET name=#{name}, nickname=#{nickname} WHERE id=#{id}
    </update>

    <delete id="deleteUser" parameterType="Integer">
        DELETE FROM user WHERE id=#{id}
    </delete>
</mapper>

<!--sql문 작성되는 파일-->